
<div id="banner">
  <h1 class="banner-text">CHOY</h1>
</div>

<div class="img-style">
  <%= image_tag('SwipeScreen.png', class:"flow-img") %>
  <%= image_tag('SwipeScreenMan.png', class:"flow-img") %>
</div>


<div class="idea-div-intro">
  <p class="text">Our Goal</p>
  <hr/>
</div>

<div class="idea-desc">
  <p class="desc-head">Easy decisions</p>
  <p>Ever had so many options in front of you, that any decision felt like the wrong one? We did. Now you can do online shopping more efficiently and have fun doing it. We enable <strong>easy shopping through easy decision making</strong>.</p>
</div>



<div class="mission">
  <h4 class="search-title">
    New
    <span id="banner-typed-text"></span>
  </h4>
</div>


<div class="cards-back">
  <div class="idea-div-intro">
    <p class="text">Benefits</p>
    <hr/>
  </div>
  <div class="cards">
    <div class="card-category">
      <i class="fas fa-brain"></i>
      <p class="desc-head">Easy decisions</p>
      <p>Compare two products – not hundreds. Forget the pain of choice overload.</p>
    </div>
    <div class="card-category">
      <i class="fas fa-code"></i>
      <p class="desc-head">Customizable experience</p>
      <p>Supported by our machine learning algorithm you will only see products you want to see.</p>
    </div>
    <div class="card-category">
      <i class="fas fa-globe-europe"></i>
      <p class="desc-head">Support sustainability</p>
      <p>Pick from unique upcoming brands that engage in sustainability activities.</p>
    </div>
  </div>
</div>


<%#= image_tag('LikedScreen.png', class:"like-img") %>
<%= video_tag "SplashAnimated.mp4", :autoplay => true, :loop => true, class:"like-img" %>



<div id="subscribe-div" class="container container-form">
  <div class="row container-row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4 form-login">
      <h2>Subscribe for news</h2>
      <%= simple_form_for @subscriber do |f| %>
      <div class="form-inputs">
       <%= f.error :base %>
       <%= f.input :email, required: false, autofocus: true, placeholder: "bob@gmail.com" %>
     </div>
     <div class="form-actions">
      <%= f.button :submit, "Subscribe", class: "btn btn-ghost" %>
    </div>
    <% end %>
  </div>
</div>
</div>




