
<div id="banner">
  <a href="#yourAnchor"><h1 class="banner-text">CHOY</h1></a>
</div>

<p id="yourAnchor">anchor</p>

<div class="mission-two">
  <h4>The New Fashion App</h4>
</div>

<div class="img-style">
  <%= image_tag('SwipeScreen.png', class:"flow-img") %>
  <%= image_tag('SwipeScreenMan.png', class:"flow-img") %>
</div>


<div class="idea-div-intro">
  <p class="text">Our Goal</p>
  <hr/>
</div>

<div class="margin-con">
  <div class="idea-desc">
    <p class="desc-head">Easy decisions</p>
    <p>Have you ever been faced with too many options, that every decision felt like the wrong one? With CHOY, you will be presented with less, but more relevant options specifically tailored to you. We make <strong>shopping better through easy decision making</strong>.</p>
  </div>
</div>


<div class="mission">
  <h3 class="search-title">
    New
    <span id="banner-typed-text"></span>
  </h3>
</div>


<div class="idea-div-intro">
  <p class="text">Benefits</p>
  <hr/>
</div>

<div class="cards-back margin-con">
  <div class="cards">
    <div class="card-category">
      <i class="fas fa-brain"></i>
      <p class="desc-head">Better decisions</p>
      <p>Compare two products – not hundreds. <strong>Forget the pain of too many choices</strong>.</p>
    </div>
    <div class="card-category">
      <i class="fas fa-code"></i>
      <p class="desc-head">Customizable experience</p>
      <p>Supported by our machine learning algorithm you will <strong>only see products you want to see</strong>.</p>
    </div>
    <div class="card-category">
      <i class="fas fa-globe-europe"></i>
      <p class="desc-head">Support sustainability</p>
      <p>Pick from unique upcoming brands that follow a <strong>sustainable mission</strong>.</p>
    </div>
  </div>
</div>



<%#= image_tag('LikedScreen.png', class:"like-img") %>
<%#= video_tag "SplashAnimated.mp4", :autoplay => true, :loop => true, class:"like-img" %>
<div class="idea-div-intro">
  <p class="text">How it works</p>
  <hr/>
</div>

<p style="text-align: center; margin: 20px 50px;">Filter, Compare Two Products, Choose Your Fit, Order In-App.</p>



<%= image_tag('flow.png', class:"like-img") %>

<div class="cards-back margin-con">
  <div class="cards">
    <div class="card-category">
      <h1 style="color: #CDCDCD">1</h1>
      <p class="desc-head">Top or bottom?</p>
      <p>You are given two products only. Over and over again. Just ask yourself which one you like better and <strong>MAKE A CHOYCE</strong>.</p>
    </div>
    <div class="card-category">
      <h1 style="color: #CDCDCD">2</h1>
      <p class="desc-head">Liked items</p>
      <p>Swipe the items you liked to the right and those you don't like to the left. Look through your liked items and add them to your shopping bag.</p>
    </div>
    <div class="card-category">
      <h1 style="color: #CDCDCD">3</h1>
      <p class="desc-head">Checkout</p>
      <p>Purchase the items you liked and added to your shopping cart. Quick and easy.</p>
    </div>
  </div>
</div>

<%= video_tag(["SplashAnimated-2.mp4"], :autoplay => true, :loop => true , class:"like-img") %>

<div class="idea-div-intro">
  <p class="text">Subscribe</p>
  <hr/>
</div>


<div class="subscribe-btn-text">
  <i class="fab fa-app-store"></i>
  <p class="desc-head">Prototype</p>
  <p>Test the latest version of CHOY to experience the new normal of online shopping.</p>
  <%= link_to "Get the Prototype", "/pages/instructions" , class: "btn btn-ghost" %>
</div>







